.header{
    width: 100%;
    height: 50px;
    background: #ffffff;
    top: 0;
    z-index: 100;
}
.header .headNav{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.headNav li{
    line-height: 50px;
    padding: 0 20px;
    float: left;
    cursor: pointer;
}
.headNav li:hover{
    border-bottom: 2px solid #ccc;
}
.headNav a{
    width: 100%;
    height: 100%;
    color: #000;
    display: inline-block;
}