{% extends "reuse/layout.html" %}
{% block main %}
<link rel="stylesheet" href="/public/css/admin/content.css">
<link rel="stylesheet" href="/public/css/admin/reuse/mask.css">
<link rel="stylesheet" href="/public/css/admin/reuse/table.css">
<div id="content">
    <div class="title">
        <h2>内容管理</h2>
        <button>添加文章</button>
    </div>
    {% if contents %}
        <table>
            <thead>
                <tr>
                    <th id="content-id">文章ID</th>
                    <th>文章标题</th>
                    <th>撰写作者</th>
                    <th>发布日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for content in contents %}
                <tr>
                    <td>{{ content.id }}</td>
                    <td>{{ content.title }}</td>
                    <td>{{ content.author }}</td>
                    <td>{{ content.date }}</td>
                    <td>
                        <button class="change">修改</button>
                        <button class="delete">删除</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>暂无文章</p>
    {% endif %}
</div>
<div id="add-box" style="display:none">
    <a href="javascript:;">&times;</a>
    <p>文章标题</p>
    <input type="text">
    <p>文章简介</p>
    <input type="text">
    <p>文章内容</p>
    <textarea></textarea>
    <br>
    <button>
        添加文章
    </button>
</div>
{% endblock %}