<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我</title>
    <link rel="stylesheet" href="/static/css/clean.css">
    <link rel="stylesheet" href="/static/css/reuse/headbar.css">
    <link rel="stylesheet" href="/static/css/main/about/about.css">
    <link rel="stylesheet" href="/static/css/reuse/footer.css">
</head>
<body>
    <div id="wrap">
        {% include "public/headbar.html" %}
        <div id="about-main" class="main">
            我是IKunDefined，一名兴趣使然的ACG爱好者。
            <a class="back" href="/">返回首页</a>
        </div>
        {% include "public/footer.html" %}
    </div>
    <script src="/static/js/main/footer.js"></script>
</body>
</html>