/* ==============================
   Component : Login - Box 
 ================================ */

 /* Style Part */

 #login-box, #signup-box {
    box-shadow: 0 0 1px 1px #ccc;
    background: #fff;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

#login-box > div > p > input,
#signup-box > div > p > input {
    width: 70%;
    height: 30px;
}

#login-box > div > p:last-child > input,
#signup-box > div > p:last-child > input {
    width: 100%;
}

#login-box > div {
    height: 150px;
}

#signup-box > div {
    height: 200px;
}

#login-box > div,
#signup-box > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#login-box > div > p,
#signup-box > div > p {
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}

#login-box > .warning,
#signup-box > .warning {
    float: left;
    color: #f00;
}

#login-box > span,
#signup-box > span {
    float: right;
}
