<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的实验室</title>
    <link rel="stylesheet" href="/public/css/clean.css">
    <link rel="stylesheet" href="/public/css/reuse/headbar.css">
    <link rel="stylesheet" href="/public/css/main/demo/demo.css">
    <link rel="stylesheet" href="/public/css/reuse/footer.css">
</head>
<body>
    <div id="wrap">
        {% include "reuse/headbar.html" %}
        <div id="demo-main">
            <a href="/demo/test">页面测试</a>
            <a class="back" href="/">返回首页</a>
        </div>
        {% include "reuse/footer.html" %}
    </div>
    <script src="/public/js/main/footer.js"></script>
</body>
</html>