<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人动态</title>
    <link rel="stylesheet" href="/public/css/clean.css">
    <link rel="stylesheet" href="/public/css/reuse/headbar.css">
    <link rel="stylesheet" href="/public/css/main/dynamic/dynamic.css">
    <link rel="stylesheet" href="/public/css/reuse/footer.css">
    <style>
    </style>
</head>
<body>
    <div id="wrap">
        {% include "reuse/headbar.html" %}
        <div id="dynamic-main">
            {% if userInfo %}
                {% if userInfo.isAdmin %}
                    <div id="dynamic-box">
                        <textarea></textarea>
                        <button>发布</button>
                    </div>
                {% else %}
                    <a class="back" href="/">返回首页</a>
                {% endif %}
                {% if dynamics %}
                    <ul>
                        {% for dynamic in dynamics %}
                        <li>
                            <p>
                                <span>
                                    {{ dynamic.author }}
                                </span>
                                <span>
                                    {{ dynamic.date }}
                                </span>
                            </p>
                            {{ dynamic.content }}
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div>
                        暂且还没有动态
                    </div>
                {% endif %}
            {% else %}
                请先登录账号
            {% endif %}
        </div>
        {% include "reuse/footer.html" %}
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <script src="/public/js/main/dynamic.js"></script>
    <script src="/public/js/main/footer.js"></script>
</body>
</html>