<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>IKunDefined</title>
        <link rel="stylesheet" href="/public/css/clean.css">
        <link rel="stylesheet" href="/public/css/main/index/index.css">
        <style>

            /* Basic Style */

            #wallpaper {
                width: 100%;
                height: 100%;
                background: url("/public/images/wallpaper.jpg") no-repeat fixed;
                background-size: cover;
            }

            /* Layout Style */

            .main-layout {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 1100px;
                margin: 20px auto;
            }

            .main-layout > .left {
                width: 65%;
            }

            .main-layout > .right {
                width: 30%;
            }
            
        </style>
    </head>
    <body>
        <div id="wallpaper"></div>
        {% include "reuse/headbar.html" %}
        <div class="main-layout">
            <div class="left">
                {% if contents %}
                    {% for content in contents  %}
                    <div class="post-area">
                        <div class="title-part">
                            <h2><a href="/article/{{ content.id }}">{{ content.title }}</a></h2>
                        </div>
                        <div class="info-part">
                            <span>发布时间：{{ content.date }}</span>
                            <!-- <span>更新时间：XXXX-XX-XX</span> -->
                            <!-- <span>阅读人数：XXX</span> -->
                            <span>作者：{{ content.author }}</span>
                        </div>
                        <div class="detail-part">
                            <p>{{ content.summary }}</p>
                        </div>
                        <div class="other-info">
                            <!-- <span>分类：测试分类</span> -->
                            <!-- <span>标签：测试标签1, 测试标签2, 测试标签3</span> -->
                        </div>
                        <div class="read-more">
                            <a class="button" href="/article/{{ content.id }}">阅读更多</a>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>当前还没有文章</p>
                {% endif %}
            </div>
            <div class="right">
                <div class="personal-intro">
                    <div class="personal-info">
                        <div class="avatar">
                            <img src="/public/images/avatar.jpg" alt="个人头像" title="IKunDefined">
                        </div>
                        <h2 class="name">IKunDefined</h2>
                        <p class="motto">- 矛盾共生体 -</p>
                    </div>
                    <ul class="social-link">
                        <li class="bilibili_1 linkicons" onclick="window.open('https://space.bilibili.com/15563957')"></li>
                        <li class="bilibili_2 linkicons" onclick="window.open('https://space.bilibili.com/1395467')"></li>
                        <li class="github linkicons" onclick="window.open('https://github.com/ikundefined')"></li>
                        <li class="weibo linkicons" onclick="window.open('https://weibo.com/p/1005052021331643')"></li>
                    </ul>
                </div>
                {% if userInfo %}
                <div id="welcome-box">
                    {% if isAdmin %}
                    <a href="/admin">进入管理界面</a>
                    {% else %}
                    <p>欢迎{{ userInfo.username }}来到我的博客。</p>
                    {% endif %}
                    <a id="logout" href="javascript:;">注销</a>
                </div>
                {% else %}
                <div id="signup-box" style="display: none;">
                    <div>
                        <p>
                            <span>账号：</span>
                            <input name="username" type="text">
                        </p>
                        <p>
                            <span>密码：</span>
                            <input name="password" type="password">
                        </p>
                        <p>
                            <span>确认密码：</span>
                            <input name="repassword" type="password">
                        </p>
                        <p>
                            <input name="register" type="button" value="注册">
                        </p>
                    </div>
                    <span>
                        <a href="javascript:;">马上登陆</a>
                    </span>
                    <span class="warning"></span>
                </div>
                <div id="login-box">
                    <div>
                        <p>
                            <span>账号：</span>
                            <input name="username" type="text">
                        </p>
                        <p>
                            <span>密码：</span>
                            <input name="password" type="password">
                        </p>
                        <p>
                            <input type="button" value="登录">
                        </p>
                    </div>
                    <span>
                        <a href="javascript:;">现在注册</a>
                    </span>
                    <span class="warning"></span>
                </div>
                {%endif%}
            </div>
        </div>
        <div class="bottom-area">
            - Build by IKunDefined -
        </div>
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
        <script src="/public/js/main/effect/index.js"></script>
        <script src="/public/js/main/interact/index.js"></script>
    </body>
</html>