<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言板</title>
    <link rel="stylesheet" href="/public/css/clean.css">
    <link rel="stylesheet" href="/public/css/reuse/headbar.css">
    <link rel="stylesheet" href="/public/css/main/message/message.css">
    <link rel="stylesheet" href="/public/css/reuse/footer.css">
</head>
<body>
    <div id="wrap">
        {% include "reuse/headbar.html" %}
        <div id="message-main">
            {% if userInfo %}
                <textarea></textarea>
                <button>留言</button>
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>
                            <p>
                                <span>{{ message.author }}</span>
                                <span>{{ message.date }}</span>
                            </p>
                            {{ message.content }}
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>
                        暂时还没有人留言哦！
                    </p>
                {% endif %}
            {% else %}
                请先登录账号
            {% endif %}
            <a class="back" href="/">返回首页</a>
        </div>
        {% include "reuse/footer.html" %}
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <script src="/public/js/main/footer.js"></script>
    <script src="/public/js/main/message.js"></script>
</body>
</html>