<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人简历</title>
    <link rel="stylesheet" href="/public/css/clean.css">
    <link rel="stylesheet" href="/public/css/reuse/headbar.css">
    <link rel="stylesheet" href="/public/css/reuse/footer.css">
    <link rel="stylesheet" href="/public/css/main/resume/resume.css">
</head>
<body>
    <div id="wrap">
        {% include "reuse/headbar.html" %}
        <div id="resume-main">
            <div class="side-bar">
                <img src="/public/images/avatar.jpg">
                <h2>IKunDefined</h2>
                <p>QQ：1581740452</p>
                <p>手机：13955416891</p>
                <p>邮箱：1581740452@qq.com</p>
                <p>Github：https://github.com/ikundefined</p>
            </div>
            <div class="main">
                编辑中。。。
            </div>
            <a class="back" href="/">返回首页</a>
        </div>
        {% include "reuse/footer.html" %}
    </div>
    <script src="/public/js/main/footer.js"></script>
</body>
</html>