<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的实验室</title>
    <link rel="stylesheet" href="/public/css/clean.css">
    <link rel="stylesheet" href="/public/css/reuse/headbar.css">
    <link rel="stylesheet" href="/public/css/undo.css">
</head>
<body>
    {% include "reuse/headbar.html" %}
    <div id="test-main" class="main">
        实验样品页面
        <span>暂未开放</span>
        <a href="/">返回首页</a>
    </div>
</body>
</html>