/* ==========================
   Component : Head-Bar
 ============================ */

/* Style Part */

#head-bar {
    box-shadow: 0 0 5px #ccc;
    background: rgba(255,255,255,.2);
}

/* Layout Part */

#head-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 50px;
    width: 100%;
}

/* Nested Component : Head-Nav
 ============================= */

/* Style Part */

#head-bar > .head-nav > li {
    cursor: pointer;
}

#head-bar > .head-nav > li > a {
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;
}

#head-bar > .head-nav > li:hover {
    border-bottom: 2px solid #999;
}

/* Layout Part */

#head-bar > .head-nav {
    margin: 0 auto;
    width: 1200px;
    height: 50px;
    line-height: 50px;
}

#head-bar > .head-nav > li {
    float: left;
    padding: 0 20px;
}

/* ==============================
   Component : Personal - Intro  
 ================================ */

/* Style Part */

.personal-intro {
    box-shadow: 0 0 1px 1px #ccc;
    background: #fff;
}

/* Layout Part */

.personal-intro {
    text-align: center;
    padding: 30px;
}

/* Component : Personal - Info
============================== */

/* Style Part */

.personal-intro > .personal-info > .avatar {
    cursor: pointer;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
}

.personal-intro > .personal-info > .name {
    cursor: pointer;
}

.personal-intro > .personal-info > .motto {
    -webkit-user-select: none;
}

.personal-intro > .personal-info > .avatar > img {
    height: 120px;
}

/* Layout Part */

.avatar, .name, .motto {
    margin: 10px 0;
}

/* Component : Social - Link
============================ */

/* Style Part */

.personal-intro > .social-link > li {
    cursor: pointer;
}

.personal-intro > .social-link > .bilibili_1, .bilibili_2 {
    background: url("/public/images/icons/bilibili.png") no-repeat;
    background-size: cover;
}

.personal-intro > .social-link > .github {
    background: url("/public/images/icons/github.png") no-repeat;
    background-size: cover;
}

.personal-intro > .social-link > .weibo {
    background: url("/public/images/icons/weibo.png") no-repeat;
    background-size: cover;
}

/* Layout Part */

.personal-intro > .social-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.personal-intro > .social-link > li {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 15px;
    cursor: pointer;
}

/* ==========================
   Component : Post-Area
 ============================ */

/* Style Part */

.post-area {
    box-shadow: 0 0 1px 1px #ccc;
    background: #fff;
}

/* Layout Part */

.post-area {
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.post-area:last-child {
    margin-bottom: 0;
}

/* Nested Component : Title-Part
================================ */

/* Style Part */

.post-area > .title-part {
    border-bottom: 1px solid #ccc;
}

/* Layout Part */

/* Nested Component : Info-Part
=============================== */

/* Style Part */

/* Layout Part */

.info-part {
    margin: 10px 0;
}

/* Nested Component : Detail-Part
================================= */

/* Style Part */

/* Layout Part */

/* Nested Component : Other-Info
================================ */

/* Style Part */

/* Layout Part */

.other-info {
    height: 30px;
    line-height: 30px;
    float: left;
}

/* Nested Component : Read-More
=============================== */

/* Style Part */

.read-more > a {
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #000;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

/* Layout Part */

.read-more {
    float: right;
}

/* ==============================
   Component : Login - Box 
   Component : Signup - Box
   Component : Welcome - Box
 ================================ */

 /* Style Part */

 #login-box, #signup-box, #welcome-box {
    box-shadow: 0 0 1px 1px #ccc;
    background: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
}

#login-box > div > p > input,
#signup-box > div > p > input {
    width: 70%;
    height: 30px;
}

#login-box > div > p:last-child > input,
#signup-box > div > p:last-child > input {
    width: 100%;
}

#login-box > div {
    height: 150px;
}

#signup-box > div {
    height: 200px;
}

#login-box > div,
#signup-box > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#login-box > div > p,
#signup-box > div > p {
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}

#login-box > .warning,
#signup-box > .warning {
    float: left;
    color: #f00;
}

#login-box > span,
#signup-box > span {
    float: right;
}
