header {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 1px 1px #ccc;
}

header .left {
  float: left;
}

header li {
  float: left;
  margin-left: 10px;
}

header .right {
  float: right;
}

.main {
  padding: 20px;
}